<nav class='navbar navbar-default'>
	<div classs='navbar-header'>
		<a href="/home" class='navbar-brand'>Vino Buenisimo</a>
	</div>
	<div class='collapse navbar-collapse'>
		<ul class='nav navbar-nav'>
			<li><a href="/home">Home</a></li>
			<li><a href="/users/<%= @user.id %>/cellars">Cellars</a></li>
			<li><a href="/friends">Friends</a></li>
			<li><a href="/users/<%= @user.id %>">Profile</a></li>
			<li class='active btn btn-default'><a href="/messages">Messages</a></li>
			<li><a href="/trends">Trends</a></li>
		</ul>
	<div class='user-nav'>
		<h4>Welcome <%= @user.first_name %></h4>
		<p><%= link_to('Log Off', destroy_user_session_path, :method => "delete", :class => "btn btn-default") %></p>
	</div>
	</div>
</nav>
<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>
			<h1>Messages</h1>
			<div class='col-sm-12 home-group'>
				<table class='table table-condensed table-striped'>
					<thead>
						<th>Recipients</th>
						<th>Subject</th>
						<th>Sent</th>
					</thead>
					<tbody>
						<% @messages.sort_by{|t| t.updated_at.to_i}.each do |message| %>
						<tr>
							<td><a href="/users/<%= message.users.second.id %>"><%= message.users.second.first_name %> <%= message.users.second.last_name %></a></td>
							<td><a href="/messages/<%= message.id %>"><%= message.subject %></a></td>
							<td><%= localize(message.updated_at, :format => :long) %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>