<nav class='navbar navbar-default'>
	<div classs='navbar-header'>
		<a href="/home" class='navbar-brand'>Vino Buenisimo</a>
	</div>
	<div class='collapse navbar-collapse'>
		<ul class='nav navbar-nav'>
			<li><a href="/home">Home</a></li>
			<li class='active btn btn-default'><a href="/users/<%= @user.id %>/cellars">Cellars</a></li>
			<li><a href="/friends">Friends</a></li>
			<li><a href="/users/<%= @user.id %>">Profile</a></li>
			<li><a href="/messages">Messages</a></li>
			<li><a href="/trends">Trends</a></li>
		</ul>
	<div class='user-nav'>
		<h4>Welcome <%= @user.first_name %></h4>
		<p><%= link_to('Log Off', destroy_user_session_path, :method => "delete", :class => "btn btn-default") %></p>
	</div>
	</div>
</nav>
<div class='container'>
	<div class='row wine-cellar'>
		<div class='col-sm-12 wine-cellar'>
			<h1><%= @cellar.name %> (<%= @cellar.classification %>)</h1> 
				<div class='col-sm-12 wine-list home-group'>
					<h2>Your Wines</h2>
					<table class='table table-condensed table-striped'>
						<thead>
							<th>Category</th>
							<th>Winery</th>
							<th>Type</th>
							<th>Year</th>
							<th>Price</th>
							<th>Actions</th>
						</thead>
						<tbody>
						<% @wines.each do |wine| %>
							<tr>
							<%= simple_form_for wine, :url => { :controller => "wines", :action => "update"} do |f| %>
								<%= f.input :method, :as => :hidden, :input_html => { :value => "puts" } %>
								<td><%= f.input  :wine_category_id, label: false, collection: @wine_category, include_blank: false %></td>
								<td><%= f.input  :winery, label: false %></td>
								<td><%= f.input  :wine_type_id, label: false, collection: @wine_type, include_blank: false %></td>
								<td><%= f.input  :year, label: false %></td>
								<td><%= f.input  :price, label: false, :placeholder => "$", :input_html => {value: (number_with_precision(f.object.price, :precision => 2 ))} %></td>
								<td>
									<%= f.input  :cellar_id, :as => :hidden, :input_html => { :value => @cellar.id } %>
									<%= f.submit "Edit Wine", :class => "btn btn-primary" %>
							<% end %>
								</td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>
		</div>
		<a href="/cellars/<%= @cellar.id %>/wines" class='btn btn-primary'>Add Wine</a>
	</div>
</div>